
  
/* Knowledge Corner */

.desktop5,
.desktop5 * {
  box-sizing: border-box;
}
.desktop5 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.newsAndEvents {
  background: #fff5f4;
  width: 1920px;
  height: 1108px;
  position: absolute;
  left: -144px;
  top: 0px;
  overflow: hidden;
}
.frame3007 {
  display: flex;
  flex-direction: row;
  gap: 643px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 200px;
  top: 92px;
}
.frame2999 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame2998 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.knowledgeCorner {
  color: #444444;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
}
.line171 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 60px;
  height: 0px;
  position: relative;
}
.knowledgeClarityProgress {
  color: #444444;
  text-align: left;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  width: 490px;
}
.frame3009 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px;
  height: 499px;
  position: absolute;
  left: 200px;
  top: 244px;
}
.group3326 {
  flex-shrink: 0;
  width: 490px;
  height: 326px;
  position: static;
}
.image {
  width: 490px;
  height: 326px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.frame3008 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.keepLearning {
  color: #444444;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
}
.weProvideQuestionsWhichActivelyChangeWithProvisionToSolutions {
  color: #444444;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  width: 490px;
}
.readThis {
  color: #ee3123;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.frame29992 {
  background: #eaeae8;
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 253px;
  position: absolute;
  left: 121px;
  top: 766px;
}
.clear {
  color: #444444;
  text-align: center;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame3010 {
  background: #fcd6d3;
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 253px;
  position: absolute;
  left: 437px;
  top: 766px;
}
.concise {
  color: #444444;
  text-align: center;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame30082 {
  background: #dfdfdf;
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 378px;
  height: 253px;
  position: absolute;
  left: 917px;
  top: 766px;
}
.efficient {
  color: #444444;
  text-align: center;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame30092 {
  background: #fff5f4;
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 253px;
  position: absolute;
  left: 1295px;
  top: 766px;
}
.accurate {
  color: #444444;
  text-align: center;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: 1411px;
  top: 116px;
  width: 206px;
  height:28px;
}

