* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.mainSignUp {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background-image {
  width: 50%;
  height: 100%;
  background: url(../assets/background.png) no-repeat center center/cover;
}

.form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.black-design {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 55%;
  background: url(../assets/background2.png) no-repeat bottom right;
  background-size: contain;
}

.authform {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #000000;
  padding-right: 10rem;
  width:25rem;
  
}

label {
  width: 100%;
  margin-bottom: 1rem;
  color: #333;
  font-weight: bold;
  font-size: 0.9rem;
}

.authinput {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f7f7f7;
}

.authbutton {
  width: 100%;
  padding: 0.9rem;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

p {
  margin-top: 1rem;
 
  font-size: 0.9rem;
  text-align: center;
}

.whitetext {
  color: white;
  width: 90%;
  font-size: 3.2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 20rem;
  margin-left: -40px;
  text-shadow: 
    -1px -1px 0 #000000,  
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authbutton {
  margin-top: 10px; /* Space between buttons */
}

.signup-button {
  width:25rem;
  margin-top: 20px; /* Adjust as needed to control spacing */
}